.subscribe-button {
  background-color: rgb(204, 0, 0);
  color: white;
  border: none;
  font-size: 14px;
  border-radius: 2px;
  margin-right: 12px;
  cursor: pointer;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: opacity 0.15s;
  vertical-align: top;
}

.subscribe-button:hover {
  opacity: 0.7;
}

.subscribe-button:active {
  opacity: 0.5;
}

.join-button{
  background-color: white;
  color: rgb(6, 95, 212);
  border-color: rgb(6, 95, 212);
  font-size: 14px;
  border-style: solid;
  border-width: 1px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 9px;
  border-radius: 2px;
  margin-right: 12px;
  cursor: pointer;
  vertical-align: top;
  transition: background-color 0.15s, color 0.15s;
}

.join-button:hover{
  background-color: rgb(6, 95, 212);
  color: white
}

.join-button:active{
  opacity: 0.6;
}

.tweet-button{
  background-color: rgb(29, 155, 240);
  color: white;
  font-weight: bold;
  font-size: 15px;
  border: none;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 50px;
  cursor: pointer;
  vertical-align: top;
  transition: box-shadow 0.15s;
  line-height: 22.5px;
}

.tweet-button:hover{
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.tweet-button:active{
  opacity: 0.6;
}
