  p{
    font-family: Arial;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .video-title {
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 5px;
    width: 284px;
    height: 48px;
  }

  .video-stats {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(96,96,96);
    width: 284px;
    height: 16.25px;
  }

  .video-author {
    font-size: 14px;
    margin-bottom: 20px;
    color: rgb(96,96,96);
    width: 284px;
    height: 18.5px;
  }

  .video-description {
    font-size: 14px;
    margin-top: 14px;
    color: rgb(96,96,96);
    width: 284px;
    height: 40px;
  }

  .apple-ad {
    font-size: 14px;
    color: white;
    background-color: rgb(227, 65, 64);
    text-align: center;
    margin-bottom: 14px;
    margin-left: 8px;
    margin-right: 8px;
    padding: 18px;
  }

  .shop-link{
    cursor: pointer;
  }

  .shop-link:hover {
    text-decoration: underline;
  }