.thumbnails{
  margin-top: 10px;
  width: 300px;
  display: block;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: Roboto, Arial;
}

.channel-picture{
  width: 40px;
  border-radius: 50%;
}

.search-bar{
  display: block;
}

.video-container{
  width: 300px;
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}

.picture-container{
  display: inline-block;
  width: 50px;
  vertical-align: top;
}

.video-details{
  display: inline-block;
  width: 245px;
}

.video-title{
  margin-top: 0px;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
}

.video-author,
.video-stats{
  font-size: 12px;
  color: #606060;
}

.video-author{
  font-size: 12px;
  margin-bottom: 5px;
}

.thumbnail-row{
  margin-bottom: 15px;
}  